{%extends 'parts/base.html'%}
{%load static%}

{%block content%}

<div class="content-wrapper">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="mb-0"> Countries</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                    <li class="breadcrumb-item"><a href="index.html" class="default-color">Home</a></li>
                    <li class="breadcrumb-item active">Countries</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- widgets -->
    <div class="row">
        <div class="col-xl-12 mb-30">
            <div class="card card-statistics h-100">
                        {% for msg in messages%}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Hey!</strong> {{msg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                {%endfor%}
                <div class="card-body">
                    <a class="button small" href="{% url 'add_country'%}">Add Country</a>

                    <h5 class="card-title border-0 pb-0"></h5>
                    <div class="table-responsive">
                        <table class="mb-0 table table-bordered table-3 text-center table-striped" id="table_id">
                            <thead>
                            <tr>

                                <th>name</th>
                                <th>created_at</th>
                                <th>process</th>

                            </tr>
                            </thead>
                            <tbody>

                            {%for country in countries %}

                            <tr>
                                <td>{{country.name}}</td>
                                <td>{{country.created_at}}</td>
                                <td>
                                    <a class="button small" href="{% url 'update_country' country.id%}">edit</a>
                                    <a class="button small" href="{% url 'delete_country' country.id %}">delete</a>
                                </td>

                            </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Orders Status widgets-->
{% endblock %}













