 <!-- Left Sidebar start-->
    <div class="side-menu-fixed">
     <div class="scrollbar side-menu-bg">
      <ul class="nav navbar-nav side-menu" id="sidebarnav">
        <!-- menu item Dashboard-->
        <li>
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard">
            <div class="pull-left"><i class="ti-home"></i><span class="right-nav-text">Dashboard</span></div>
            <div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div>
          </a>
<!--          <ul id="dashboard" class="collapse" data-parent="#sidebarnav">-->
<!--            <li> <a href="index.html">Dashboard 01</a> </li>-->

<!--          </ul>-->
        </li>
        <!-- menu title -->
         <li class="mt-10 mb-10 text-muted pl-4 font-medium menu-title">Components </li>
        <!-- menu item Elements-->
        <li>
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#elements">
            <div class="pull-left"><i class="ti-palette"></i><span class="right-nav-text">Students</span></div>
            <div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div>
          </a>
          <ul id="elements" class="collapse" data-parent="#sidebarnav">
            <li><a href="{%url 'students'%}">show all students</a></li>

          </ul>
        </li>
        <!-- menu item calendar-->
        <li>
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#calendar-menu">
            <div class="pull-left"><i class="ti-calendar"></i><span class="right-nav-text">classes</span></div>
            <div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div>
          </a>
          <ul id="calendar-menu" class="collapse" data-parent="#sidebarnav">
            <li> <a href="{% url 'classes'%}">show all classes </a> </li>
          </ul>
        </li>



        <!-- menu item Charts-->
        <li>
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#chart">
            <div class="pull-left"><i class="ti-pie-chart"></i><span class="right-nav-text">Countries</span></div>
            <div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div>
          </a>
          <ul id="chart" class="collapse" data-parent="#sidebarnav">
            <li> <a href="{%url 'countries'%}">Show all Countries</a> </li>

          </ul>
        </li>


    </ul>
  </div>
</div>

<!-- Left Sidebar End-->